body {
  background-color: #ffd369;
  text-align: justify;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(129, 123, 123);
  border-width: 5px;
  width: 10%;
}

img {
  height: 189px;
}
